/*
##############################################################
#      PARTY UP, LOVE MULITPLAYER, MAKE GREAT PRODUCT   	 #
##############################################################

/*  THE GENERALISMO */

body {
	margin: 0 auto;
	height: auto;
	width: 980px;
	line-height: 20px;
	text-align: justify;
	letter-spacing: 0px;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #404040;	
}

.textbar {
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 33px;
	font-size: 16px;
	color: #676767;	
}

.textbar2 {
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 25px;
	font-size: 16px;
	color: #676767;	
}


.navi {
	color: #e8e8e8;
	
}

.hr {
	border: #e0e4cc 7px dashed;

}

.hrWhite {
	border: #fff 7px dashed;

}

.score {
	font-size: 60px;
	color: #5ce21a;


}

.scoreTime {
	font-size: 15px;
	
}

.innertube{
	margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
}

.hot {
	color: #ea7326;

}

.not {
	color: #81cfe4;

}

.green {
	color: #80FF30;
}

.gray {
	color: #e9e9e9;
}

.skinny {
	font-weight: 100;
	font-size: 60px;
}

.tr {
	border-bottom: dashed 1px #ccc;
	border-left: dashed 1px #ccc;
	border-right: dashed 1px #ccc;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: left;
	letter-spacing: 0px;
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #404040;	
}


a:link {color:#82d0e5;}      /* unvisited link */
a:visited {color:#b7b7b7;}  /* visited link */
a:hover {color:#676767;}  /* mouse over link */
a:active {color:#676767;}  /* selected link */



/*  THIS IS WHERE THE BETA SPLISH SPLASH LIVES */

#box {
	display: block;
	margin-top: 5px;
	width: 978px;
	border: #ccc 3px dotted;
/*	-moz-box-shadow: 0px 5px 10px 1px #888;
	-webkit-box-shadow: 0px 5px 10px 1px#888;
	box-shadow: 0px 5px 10px 1px #888;   */
	
}

#left {
	float: left;
	width: 400px;
	padding: 20px;
}

#right {
	float: left;
	width: 510px;
	height: 500px;
}

#right_bottom {
	float: right;
	width: 200px;
	height: 80px;
	margin-top: 0px;
	margin-left: -50px;
	background: none;
	border: none;	
	vertical-align: middle;
}

#right_bottom2 {
	float: right;
	width: 315px;
	height: 80px;
	margin-top: 0px;
	margin-right: 5px;
	background: #ededed;
	border: #ccc 3px dotted;	
	vertical-align: middle;
}

#bottom {
	font-size: 12px;
	color: #b7b7b7;
	background: #fff;
	bottom: 30px;
}

#hotCall {
	float: left;
	margin-top: 5px;
	
}

/* BUTTON CLASSES */
/* ORANJE */

.orange {
	color: #fef4e9;
	font-size: 16px;
	height: 33px;
	width: 110px;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
	
/* BLU … COMING SOOON */
/* GREENE … COMING SOOON */


/* WELCOME TO THE MEAT OF THE SITE - IT JUST GOT SPECIFIC */

#hotBox {
	width: 980px;
	margin: 0 auto;
	
}

#wrapItUp{
	float: left;
	width: 100%;
}

#hotHead {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 104px;
	background: #fff;
	border: #ccc 3px dotted;	
}

#headImg {
	float: left;
	margin-top: 10px;
}

		/* FOR HOT OR NOT */

#navTop {
	margin-top: 0px;
	margin-bottom: 7px;
	height: 10px;
	background: #363636;
	border: #ccc 1px solid;
	padding-left: 240px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border: 1px solid #E6E6E6;
}

		/* FOR PUG PROPER */

#navTop2 {
	margin-top: 0px;
	margin-bottom: 7px;
	height: 50px;
	background: #363636;
	border: #ccc 1px solid;
	padding-left: 240px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border: 1px solid #E6E6E6;
}


/* LET'S START CENTRAL SECTION */

#hotCenter {
	margin: 0 340px 0 240px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
	height: 720px;
	background: #fff;
    background-image: url(/img/hotCentre.png); 
	background-position:-105px; 

}


	/* HOT OR NOT? - LET'S VOTE */

#voteWrap {
	width: 360px;
	padding-top: 5px;
	padding-left: 5px;
	margin-right: 70px;
	margin-left: 10px;
}

#votebox {
	float: left;
	width: 50px;
	height: 25px;

}

#leftNot {
	float: left;
	width: 50px
	height: 25px;
	padding-right: 5px;
}

#rightHot {
	float: right;
	width: 50px
	height: 25px;
	padding-left: 5px;
}

#voteName {
	width: 360px;
	padding-top: 30px;
	padding-left: 0px;
	margin-right: 70px;
	margin-left: 0px;
}

		/* VOTE BUTTONS CSS HERE */
					
.voteme {
	color: #414141;
	font-size: 16px;
	height: 30px;
	width: 50px;
	border: dotted 1px #373737;
	margin-right: 1px;
	background: #f78d1d;						
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#B3FF30), to(#5ce21a));
	background: -moz-linear-gradient(top,  #fff724,  #5ce21a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff724', endColorstr='#5ce21a');
}
.voteme:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#E7FF30), to(#E7FF30));
	background: -moz-linear-gradient(top,  #E7FF30,  #E7FF30);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7FF30', endColorstr='#E7FF30');
}
.voteme:active {
	color: #414141;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff724), to(#fff724));
	background: -moz-linear-gradient(top,  #fff724,  #fff724);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff724', endColorstr='#fff724');
}


#avaLova {			/* Dictates L/R position of Central Avatar */
	min-height: 350px;
	padding-left: 120px;
	margin-top: -55px;
	
}

#avatar {
	
	/* USE AS MAIN XBOX GAMERTAG IMG CONTROLLER */
	padding-top: 45px;

	/* -moz-box-shadow: 0px 60px 30px -30px #B3FF30;
	-webkit-box-shadow: 0px 60px 30px -30px #B3FF30;
	box-shadow: 0px 60px 30px -30px #B3FF30; */

}


#flag {
	float: right;
	padding-top: 5px;
	padding-right: 20px;
	font-size: 10px;
}



	/* LET'S START THE LEFT SIDE */

#hotLeft {
	float: left;
	width: 234px; /*Width of left column in pixel*/
	margin-left: -980px; /*Set margin to that of -(MainContainerWidth)*/
	min-height: 720px;
	background: #e0e4cc;
	border: #ccc 1px dotted;	
	margin-bottom: 5px;
}

#hotLeftAd {
	float: left;
	width: 120px; /*Width of left ad in pixel*/
	height: 600px;
	margin-left: -1110px; /*Set margin to that of -(MainContainerWidth) + Padding*/
	background: #eee;
	border: #ccc 1px solid;	
	margin-bottom: 5px;
}

#avatarLeft {
	padding-left: 40px;
	padding-right: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 240px;
	width: 120px;
	
}


#leftImg {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}


#leftImgTop {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}


#hotNewThing {
	float: left;
	width: 195px;
	font-size: 11px;
	margin-top: -2px;

}


.next {  
	color: #fef4e9;
	font-size: 18px;
	height: 34px;
	width: 190px;
	border: dotted 1px #bbbeab;
	background: #f78d1d;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#e0e4cc), to(#bdc0ac));
	background: -moz-linear-gradient(top,  #e0e4cc,  #bdc0ac);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e4cc', endColorstr='#bdc0ac');
}
.next:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#bdc0ac), to(#a3a695));
	background: -moz-linear-gradient(top,  #bdc0ac,  #a3a695);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc0ac', endColorstr='#a3a695');
}
next:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#bdc0ac), to(#bdc0ac));
	background: -moz-linear-gradient(top,  #bdc0ac,  #bdc0ac);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc0ac', endColorstr='#bdc0ac');
}


	/* LET'S START THE RIGHT SIDE */
	

#hotRight {
	float: left;
	width: 340px; /*Width of right column*/
	margin-left: -346px; /*Set left margin to -(RightColumnWidth)*/
	min-height: 855px;
	background: #fff;
	border: #ccc 1px dotted;
	margin-bottom: 5px;	

}

#avatarRight {
	margin-top: -30px;	
	height: 240px;
	width: 120px;

}

#fuckingFirefox {
	float: left;
	margin-right: 20px;

}

#hotProfileContent {
	float: left;
	width: 160px;
}

#hotProfileName {
	float: left;
	text-overflow: auto;
	font-size: 11px;
	padding-top: 5px;
}

#hotProfileContentL {
	float: left;
	width: 220px;
	margin-top: -40px;
}

#hotProfileInfo {
	float: left;
	margin-left: 40px;
	margin-right: 0;
	width: 100px;
	height: 340px;
	text-align: left;
}


#hotFoot {
	clear: left;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 5px;
	background: #fff;
	border: #ccc 3px dotted;	
}

#hotLogin {
	float: left;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
}

#hotBuffer {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	width: 210px;
}

#adMeTopRight {
	float: left;
	margin-top: 7px;
	margin-left: 6px;
	/*border: 1px dotted;	*/
}

#adMeLeft {
	margin-top: 0px;
	margin-bottom: 7px;
	height: 90px;
	/*border: 1px dotted;	*/
}



/* WELCOME TO THE PROFILE SECTION OF THE CSS, WE HOPE YOU ENJOY YOUR STAY HERE */

#logMeIn {
	float: left;
	margin-top: 19px;
	margin-left: 10px;
	
}

	/* THIS IS THE LARGE CONTACT BUTTON */

.callme {  
	color: #fef4e9;
	font-size: 31px;
	height: 56px;
	width: 300px;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.callme:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.callme:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

	/* NO NEED TO CENTER A BACKGROUND CSS IMAGE - REVERT TO STANDARD MODE - THIS LIVES IN THE CENTRE COLUMN */

#proCenter {
	margin:  0 350px 0 240px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/

}

#navWrap {
	width: 380px;
	padding-top: 7px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #373737;
}


#shareMe {
	float: right;
}

#titlesImg {
	float: left;
	width: 85px;
	padding-left: 5px;
	padding-right: 10px;

}
	
	/* AN HR & H CLASSES - MOVE ALONG */
.proTop {
	border: dashed 1px #ccc;

}

	
.proName {
	color: #5ce21a;
	font-size: 32px;
	text-align: left;
}

.proNameB {
	color: #81cfe4;
	font-size: 32px;
	text-align: left;
}



/* THANKS FOR PLAYING */
