<?xml version="1.0"?>
<appSettings>
  <add key="Quickblox_ApplicationId" value="20103" />
  <add key="Quickblox_AuthKey" value="gXa5zW9K5wdTuCV" />
  <add key="Quickblox_AuthSecret" value="YGabpebTkW2Q9r6" />
  <add key="Quickblox_AdminUserId" value="5510546b60635b20e83e06b3" />
  <add key="Quickblox_ApiUrl" value="https://api.quickblox.com/" />
</appSettings>

