<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="Quickblox_ApplicationId" value="20103" />
  <add key="Quickblox_AuthKey" value="gXa5zW9K5wdTuCV" />
  <add key="Quickblox_AuthSecret" value="YGabpebTkW2Q9r6" />
  <add key="Quickblox_AdminUserId" value="553be08dcbf5a81a70567b13" />
  <add key="Quickblox_ApiUrl" value="https://api.quickblox.com/" />
</appSettings>

