<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" userInstalled="true" />
  <package id="CsvHelper" version="2.13.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" userInstalled="true" />
  <package id="MongoDB.Embedded.UpdatedFork" version="2.4.6.22000" targetFramework="net45" userInstalled="true" />
  <package id="MongoDB.QueryHelper" version="1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
</packages>