<!DOCTYPE html>
<html ng-app="userApp">
<head>
    <title>PartyUpPlayer | lfg? Find mmog and co-op gamers to play with</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>    
    <style type="text/css">
        .section {                        
        }
    
        .section caption {            
            padding: 4px 0px;
            color: #4d4d4d;
        }

        .lobby {
            margin: 4px 0px;
            clear:both;
            height:82px;
            overflow:hidden;
        }

        .gameUrl {
            height: 64px;
            width: 48px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .platform {
            height: 18px;
            width: 48px;
            color: white;
            text-align: center;
            font-size: small;
        }

            .platform.PC, .platform.Steam {
                background-color: #1e1e1e;
            }

            .platform.PS3 {
                background-color: #9391b4;
            }

            .platform.PS4 {
                background-color: #04a4ef;
            }

            .platform.Xbox360 {
                background-color: #81b32e;
            }

            .platform.XboxOne {
                background-color: #009500;
            }
    </style>
</head>
<body ng-controller="ListController" ng-show="ready" ng-cloak>
    <div>
        <img src="/images/puplogo.png"/> {{userName}}
    <div/>
    <div ng-view></div>
    <div>
        <img src="/images/puplogo.png"/>
    </div>   
    <script type="text/ng-template" id="list.html">
        <table class="section" ng-repeat="section in sections">        
            <caption>{{section.name}}</caption>
            <tr class="lobby" ng-repeat="lobby in section.lobbies" ng-click="detail(lobby.Id)">
                <td>
                    <div class="gameUrl" ng-style="{'background-image': 'url(' + lobby.thumbnailPictureUrl + ')'}"></div>
                    <div class="platform" ng-class="lobby.platform">{{lobby.platform}}</div>
                </td>
                <td>
                    <span>{{lobby.name}}</span>
                    <span>{{lobby.description}}</span>
                    <span>{{lobby.playStyle}} | {{lobby.skillLevel}}</span>                    
                    <span>{{lobby.startTime | amCalendar}}</span>
                </td>
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="detail.html">        
        <div class="headerImage" ng-style="{'background-image': 'url(' + lobby.thumbnailPictureUrl + ')'}">
            <a href="#" ng-click="back()">back</a>
            <div>{{lobby.owner.userName}}'s</div>
            <div>{{lobby.name}}</div>
            <div>{{lobby.platform}}: {{lobby.startTime | amCalendar}}</div>
        </div>
        <div>
            <div>{{lobby.playStyle}}, {{lobby.skillLevel}}</div>
            <div>{{lobby.description}}</div>
        </div>
        <div ng-repeat="msg in messages">
            <div>{{msg.portraitUrl}}</div>
            <div>{{msg.message}}</div>
        </div>
        <div>
            Download
        </div>
    </script>
    <script type="text/ng-template" id="error.html">
        Error Url
    </script>
</body>
</html>