<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>PartyUpPlayer | lfg? Find mmog and co-op gamers to play with</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
    <style type="text/css">
        .section {
            padding: 4px 0px;
            color: #4d4d4d;
        }

        .lobby {
            margin: 4px 0px;
            clear:both;
            height:82px;
            overflow:hidden;
        }

        .gameUrl {
            height: 64px;
            width: 48px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .platform {
            height: 18px;
            width: 48px;
            color: white;
            text-align: center;
            font-size: small;
        }

            .platform.PC, .platform.Steam {
                background-color: #1e1e1e;
            }

            .platform.PS3 {
                background-color: #9391b4;
            }

            .platform.PS4 {
                background-color: #04a4ef;
            }

            .platform.Xbox360 {
                background-color: #81b32e;
            }

            .platform.XboxOne {
                background-color: #009500;
            }
    </style>
</head>
<body ng-controller="UserLobbyCtrl" ng-show="ready" ng-cloak>
    <div ng-repeat="section in sections">
        <div class="section">{{section.name}}</div>
        <div class="lobby" ng-repeat="lobby in section.lobbies">
            <div style="float:left">
                <div class="gameUrl" ng-style="{'background-image': 'url(' + lobby.thumbnailPictureUrl + ')'}"></div>
                <div class="platform" ng-class="lobby.platform">{{lobby.platform}}</div>
            </div>
            <div>
                <span>{{lobby.name}}</span>
                <span>{{lobby.description}}</span>
                <span>{{lobby.playStyle}} | {{lobby.skillLevel}}</span>
                <span>{{lobby.startTimeUtc}}</span>
            </div>
        </div>
    </div>

    <script>
        angular.module("App", ["ngResource"])
               .controller("UserLobbyCtrl", function ($scope, $resource) {
                   var root = location.origin;
                   var $api = $resource(root + "/api/Lobby?userId=@ViewData["UserId"]");
                   root = "http://pup-dev.azurewebsites.net/"; //TODO: remove
                   $api.get(function (response) {

                       var result = response.result;

                       var today = new Date();
                       today = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);

                       var tomorrow = new Date(today);
                       tomorrow.setDate(tomorrow.getDate() + 1);

                       var thisWeek = new Date(today);
                       thisWeek.setDate(tomorrow.getDate() + 2);

                       var nextWeek = new Date(today);
                       nextWeek.setDate(tomorrow.getDate() + 7);

                       var s = [[], [], [], []];
                       for (var i = 0; i < result.length; i++) {
                           var lobby = result[i];
                           lobby.startTimeUtc = new Date(lobby.startTimeUtc);
                           lobby.pictureUrl = lobby.pictureUrl.replace("~", root);
                           lobby.thumbnailPictureUrl = lobby.thumbnailPictureUrl.replace("~", root);
                           if (lobby.platform === "PC") {
                               lobby.platform = "PC/STEAM"
                           }

                           if (lobby.startTimeUtc >= nextWeek) {
                               s[3].push(lobby);
                           } else if (lobby.startTimeUtc >= thisWeek) {
                               s[2].push(lobby)
                           } else if (lobby.startTimeUtc >= tomorrow) {
                               s[1].push(lobby)
                           } else {
                               s[0].push(lobby)
                           }
                       }

                       $scope.sections = [];
                       for (var i = 0; i < s.length; i++) {
                           if (s[i].length != 0) {
                               var name;
                               switch (i) {
                                   case 0:
                                       name = "Today (" + s[i].length + ")";
                                       break;
                                   case 1:
                                       name = "Tomorrow (" + s[i].length + ")";
                                       break;
                                   case 2:
                                       name = "Later this week (" + s[i].length + ")";
                                       break;
                                   case 3:
                                       name = "Next week (" + s[i].length + ")";
                                       break;
                               }

                               $scope.sections.push({
                                   name: name,
                                   lobbies: s[i]
                               });
                           }
                       }

                       $scope.ready = true;
                   });
               });
    </script>
</body>
</html>