@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PartyUpPlayer</title>
    <meta property="al:android:url" content="partyupplayer://lobby/@ViewData["LobbyId"]">
    <meta property="al:android:package" content="com.swarmnyc.pup">
    <meta property="al:android:app_name" content="PuP">
    <meta property="og:title" content="PartyUpPlayer" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://pup.azurewebsites.net/content/pup.png"/>
    <meta http-equiv="refresh" content="0;URL=http://partyupplayer.com">
</head>
<body>
</body>
</html>