@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Lobby</title>
    <meta property="al:android:url" content="swarmnyc://pup/lobby/@ViewData["LobbyId"]">
    <meta property="al:android:package" content="com.swarmnyc.pup">
    <meta property="al:android:app_name" content="PuP">
    <meta property="al:web:url" content="http://pup-secondary.azurewebsites.net/lobby/@ViewData["LobbyId"]" />
    <meta property="og:title" content="Play together" />
    <meta property="og:type" content="website"/>
</head>
<body>
<div>
    <a href="swarmnyc://pup/lobby/@ViewData["LobbyId"]" style="font-size: xx-large">open in pup</a>
</div>
</body>
</html>